<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Document</title>
</head>
<body style="overflow: hidden;">
  <div id="overlay" style="top: 0%; min-height: 100%; background-color: rgba(38, 37, 37, 0.716); z-index: 99999;"  class="container-fluid position-fixed d-flex justify-content-center align-items-center">
   <div style="width: 40rem;" class="container card p-2"><label for="inputPassword5" class="form-label">Fake Name Here....</label>
    <input type="text" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" placeholder="your fake name here...">
    <div id="passwordHelpBlock" class="form-text">
      Your fake name must be 8-20 characters long, contain letters special characters, or emoji.
    </div>
    <button id="enter" type="button" class="btn btn-outline-info mt-2">let's chat</button>
  </div>
  </div>
  <div class="container">
    <div id="msgbox" style="min-height: 80vh;" class="container card mt-1">
   
    </div>
    <div class="form-floating mt-1">
      <textarea style="resize: none;" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Write Your Message Here....</label>
    </div>
      <button id="send" style="min-width: 100%;" type="button" class="btn btn-outline-secondary mt-2">Send</button>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js" integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<script>
  var socket = io();
  let naam = 'unknown user';

  document.querySelector('#enter')
  .addEventListener('click',function(){
    if(document.querySelector('input').value.trim().length > 0){
      naam = document.querySelector('input').value;
      socket.emit('naam',naam);
      document.querySelector('#overlay').classList.add('d-none');
    }
  })

  document.querySelector('#send')
  .addEventListener('click',function(){
    socket.emit('msg',document.querySelector('textarea').value)
  })
  socket.on('msg',function(data){
    document.querySelector('#msgbox').innerHTML += ` <div class="container card bg bg-info text-light p-2 mt-2">${data} </div>`
    document.querySelector('textarea').value = '';
  })
</script>
</body>
</html>





