<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  
  <div id="main">
    <div id="climecast">
    <h1>ClimeCast</h1>
    <h4>Climecast provides weather for your city with a very clean & minimilistic UI</h4>
    </div>
    <div id="searchindex">
      <form action="/getweather" method="post">
        <i class="ri-search-line"></i>
        <input name="citydetail" type="text" placeholder="search">
      </form>
    </div>
    
    <h1></h1>
  </div>
<script> </script>
</body>
</html>
